
<html>
    <head>
        <title></title>
        <style>
                body {
                    background-color: white;
                }

                #main {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                <%- main.css %>
    
                #logo {
                    width: 200px;
                    position: fixed;
                    top: 20px;
                    left: 20px;
                    <%if (logo.visibility == 0) { %>
                        visibility: hidden;
                    <% } %>
                }
    
                #clock {
                    position: fixed;
                    top: 20px;
                    right: 20px;
                    <%if (clock.visibility == 0) { %>
                        visibility: hidden;
                    <% } %>
                }
    
                #table {
                    position: fixed;
                    bottom: 20px;
                    right: 20px;
                    color: black;
                    font-size: 22px;
                    border: 1px solid black;
                    <%if (table.visibility == 0) { %>
                        visibility: hidden;
                    <% } %>
                }
                #table th:first {
                    border: none;
                } 
                #table th {
                    border: 1px solid black;
                }
                #table td.open {
                    background:chartreuse;
                }
                #table td {
                    background: red;
                }


            </style>
    </head>
    <body>
        <table id="table" border="1">
            <tr>
                <th></th>
                <th>Montag</th>
                <th>Dienstag</th>
                <th>Mitwoch</th>
                <th>Donnerstag</th>
                <th>Freitag</th>
            </tr>
            <tr>
                <th>Frühstückspause</th>
                <% for (var i = 0; i < 5;  i++) { %>
                    <% if (tabledata[i][0] == 1) {%>
                        <td class="open">Geöffnet</td>
                    <% } else { %>
                        <td class="">Geschlossen</td>
                    <% } %>
                <% } %>
            </tr>
            <tr>
                <th>Mittagspause</th>
                <% for (var i = 0; i < 5;  i++) { %>
                    <% if (tabledata[i][1] == 1) {%>
                        <td class="open">Geöffnet</td>
                    <% } else { %>
                        <td class="">Geschlossen</td>
                    <% } %>
                <% } %>
            </tr>
        </table>

        
        <div id="main">
            <%- main.html %>
        </div>


        <img src="img/logo.png" id="logo">
        <canvas id="clock" width="400" height="400"> Dieser Browser wird leider nicht unterstützt. </canvas>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/station-clock.js"></script>
        <script type="text/javascript">

            var clock = new StationClock("clock");
            clock.body = StationClock.SmallWhiteBody;
            clock.dial = StationClock.SwissStrokeDial;
            clock.hourHand = StationClock.PointedHourHand;
            clock.minuteHand = StationClock.PointedMinuteHand;
            clock.secondHand = StationClock.HoleShapedSecondHand;
            clock.boss = StationClock.NoBoss;
            clock.minuteHandBehavoir = StationClock.CreepingMinuteHand;
            clock.secondHandBehavoir = StationClock.ElasticBouncingSecondHand;

            window.setInterval(function() { clock.draw() }, 50);

            <%- main.js %>

            $(document).on('keypress',function(e) {
                var keycode = (e.keyCode ? e.keyCode : e.which);
                console.log(keycode);
                window.location = "/?id=" + String.fromCharCode(keycode) + "";
            });
        </script>
    </body>
</html>